In [1]:
import pandas as pd
import numpy as np

In [2]:
titanic_df = pd.read_csv('titanic_train.csv')

## Missing Data 처리

### isna() 반환 결과에 sum()을 호출 -> 컬럼별 NaN 개수 구할 수 있음
### sum() 대신 count()하면 결과 다름(모든 데이터 개수를 구함)

In [3]:
titanic_df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

### fillna(): Missing data 대체

In [5]:
titanic_df['Cabin'] = titanic_df['Cabin'].fillna('C000')
# 'Cabin' 칼럼의 NaN인 값들은 'C000'으로 바뀜
titanic_df.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,C000,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,C000,S

In [7]:
titanic_df['Age'] = titanic_df['Age'].fillna(titanic_df['Age'].mean())
titanic_df['Embarked'] = titanic_df['Embarked'].fillna('S')
titanic_df.isna().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64