### Data Selection, Filtering

In [2]:
import pandas as pd
import numpy as np

#### [ ] 연산자

In [6]:
titanic_df = pd.read_csv('titanic_train.csv')
print('단일 칼럼 데이터 추출: \n', titanic_df['Pclass'].head(3))
print('\n여러 갈럼들의 데이터 추출:\n', titanic_df[['Survived', 'Pclass']].head(3))
print('[ ] 안에 숫자 index는 keyError 오류 발생\n', titanic[0])

단일 칼럼 데이터 추출:
 0    3
1    1
2    3
Name: Pclass, dtype: int64

여러 갈럼들의 데이터 추출:
    Survived  Pclass
0         0       3
1         1       1
2         1       3

NameError: name 'titanic' is not defined

#### BUT pandas의 index 형태로 변환 가능한 표현식은 [ ] 에 입력 가능 ex) 슬라이싱, 불린 인덱싱

In [7]:
# 슬라이싱
titanic_df[0:2]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

#### BUT 되도록이면 위의 슬라이싱 표현은 쓰지 말 것. 코딩 할 때 [ ] 안에는 칼럼명과 불린인덱싱만 넣는다고 생각하면 됨

In [8]:
titanic_df[titanic_df['Pclass'] == 3].head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.250,NaN,S
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.925,NaN,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.050,NaN,S

### ix[] 연산자는 더이상 지원 안함

### DataFrame iloc[] 연산자 - 위치 기반 인덱싱

In [14]:
data={'Name': ['Choi', 'Kim', 'Lee'],
     'Year': [2012, 2091, 2009],
     'Gender': ['Male', 'Female', 'Male']}
data_df = pd.DataFrame(data, index=['one', 'two', 'three'])
data_df.head()

       Name  Year  Gender
one    Choi  2012    Male
two     Kim  2091  Female
three   Lee  2009    Male

In [13]:
data_df.iloc[0, 0]

'Choi'

#### 컬럼 명을 쓰면 오류

In [15]:
data_df.iloc[0, 'Name']

ValueError: Location based indexing can only have [integer, integer slice (START point is INCLUDED, END point is EXCLUDED), listlike of integers, boolean array] types

#### 숫자 형태가 아닌 인덱스도 오류

In [16]:
data_df.iloc['one', 0]

ValueError: Location based indexing can only have [integer, integer slice (START point is INCLUDED, END point is EXCLUDED), listlike of integers, boolean array] types

In [18]:
# reset_inde()로 새로운 순자형 인덱스 생성
data_df_reset = data_df.reset_index()
data_df_reset = data_df_reset.rename(columns={'index':'old_index'})

# index 값에 1을 더해서 1부터 시작하는 새로운 index값 생성
data_df_reset.index = data_df_reset.index + 1
data_df_reset

  old_index  Name  Year  Gender
1       one  Choi  2012    Male
2       two   Kim  2091  Female
3     three   Lee  2009    Male

In [19]:
data_df_reset.iloc[0, 1]

'Choi'

### DataFrame loc[] 연산자 - 명칭 기반 인덱싱

In [20]:
data_df

       Name  Year  Gender
one    Choi  2012    Male
two     Kim  2091  Female
three   Lee  2009    Male

In [21]:
data_df.loc['one', 'Name']

'Choi'

In [24]:
data_df_reset

  old_index  Name  Year  Gender
1       one  Choi  2012    Male
2       two   Kim  2091  Female
3     three   Lee  2009    Male

In [23]:
data_df_reset.loc[1, 'Name']

'Choi'

In [25]:
# 아래 코드는 오류
data_df_reset.loc[0, 'Name']

KeyError: 0

In [27]:
print('위치기반 iloc slicing\n', data_df.iloc[0:1], '\n')
print('명칭기반 loc slicing\n', data_df.loc['one':'three', 'Name'])

위치기반 iloc slicing
      Name  Year Gender
one  Choi  2012   Male

명칭기반 loc slicing
 one      Choi
two       Kim
three     Lee
Name: Name, dtype: object

In [29]:
print(data_df_reset.loc[1:2, 'Name'])

1    Choi
2     Kim
Name: Name, dtype: object

### 불린 인덱싱(Boolean indexing)

In [31]:
titanic_boolean = titanic_df[titanic_df['Age'] > 60]
print(type(titanic_boolean))
titanic_boolean.head(5)

<class 'pandas.core.frame.DataFrame'>

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
33,34,0,2,"Wheadon, Mr. Edward H",male,66.0,0,0,C.A. 24579,10.5000,NaN,S
54,55,0,1,"Ostby, Mr. Engelhart Cornelius",male,65.0,0,1,113509,61.9792,B30,C
96,97,0,1,"Goldschmidt, Mr. George B",male,71.0,0,0,PC 17754,34.6542,A5,C
116,117,0,3,"Connors, Mr. Patrick",male,70.5,0,0,370369,7.7500,NaN,Q
170,171,0,1,"Van der hoef, Mr. Wyckoff",male,61.0,0,0,111240,33.5000,B19,S

In [33]:
titanic_df['Age'] > 60

var1= titanic_df["Age"] > 60
print(type(var1))

<class 'pandas.core.series.Series'>

In [37]:
titanic_df[titanic_df['Age'] > 60][['Name', 'Age']].head(3)

                              Name   Age
33           Wheadon, Mr. Edward H  66.0
54  Ostby, Mr. Engelhart Cornelius  65.0
96       Goldschmidt, Mr. George B  71.0

In [38]:
titanic_df.loc[titanic_df['Age'] > 60, ['Name', 'Age']].head(3)

                              Name   Age
33           Wheadon, Mr. Edward H  66.0
54  Ostby, Mr. Engelhart Cornelius  65.0
96       Goldschmidt, Mr. George B  71.0

#### 논리 연산자로 연결된 조건식도 불린 인덱싱 적용 가능

In [41]:
titanic_df[(titanic_df['Age'] > 60) & (titanic_df['Pclass'] == 1) & (titanic_df['Sex'] == 'female')]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
275,276,1,1,"Andrews, Miss. Kornelia Theodosia",female,63.0,1,0,13502,77.9583,D7,S
829,830,1,1,"Stone, Mrs. George Nelson (Martha Evelyn)",female,62.0,0,0,113572,80.0000,B28,NaN

#### 조건식은 변수로도 할당 가능. 조건 복잡할 때 변수 이용하면 가독성 향상

In [43]:
cond1 = titanic_df['Age'] > 60
cond2 = titanic_df['Pclass'] == 1
cond3 = titanic_df['Sex'] == 'female'
titanic_df[cond1 & cond2 & cond3]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
275,276,1,1,"Andrews, Miss. Kornelia Theodosia",female,63.0,1,0,13502,77.9583,D7,S
829,830,1,1,"Stone, Mrs. George Nelson (Martha Evelyn)",female,62.0,0,0,113572,80.0000,B28,NaN