## 데이터 전처리(processing)
<br>

- 데이터 클린징: 잘못된 오류 데이터 처리
- 결손값 처리: Null/NaN 처리(없애거나 평균값으로 하거나...)
- 데이터 인코딩(레이블, 원-핫 인코딩): 숫자가 아닌 데이터 숫자로 변경
- 데이터 스케일링: 정규화, 표준화. ex) 키, 몸무게는 단위 다름 -> 스케일링
- 이상치 제거: outlier(택도 없는 값) 제거
- feature 선택, 추출 및 가공: feature 많이 있을 때, 이중에서 특정 feature로만 하면 좋은 결과 나오는 경우 있음. or 가공 통해서 향상된 feature 만듬

### 데이터 인코딩
#### 머신러닝 알고리즘: 문자열 데이터 속성 입력 받지X => 숫자형으로 표현 필요 => 인코딩
<br>

1. 레이블 인코딩: 각 문자열을 숫자로 매핑.
문제점: 의도하지 않은 관계성이 생성될 수 있음.


2. 원-핫 인코딩: 새로운 feature로 벡터 만들고 각 문자열이 해당하는 위치만 1로 해주고 나머지는 다 0.

### 1. 레이블 인코딩

In [1]:
from sklearn.preprocessing import LabelEncoder

items = ['TV', '냉장고', '전자렌지', '선풍기', '선풍기', '믹서', '믹서']

# LabelEncoder를 객체로 생성 -> fit() -> transform() 통해서 인코딩
encoder = LabelEncoder()
encoder.fit(items)
labels = encoder.transform(items)
print('인코딩 변환값', labels)

인코딩 변환값 [0 1 4 3 3 2 2]

In [2]:
print('인코딩 클래스: ', encoder.classes_)

인코딩 클래스:  ['TV' '냉장고' '믹서' '선풍기' '전자렌지']

In [14]:
print('디코딩 원본 값: ', encoder.inverse_transform([4, 1, 2, 0, 1, 1, 3, 3]))

디코딩 원본 값:  ['전자렌지' '냉장고' '믹서' 'TV' '냉장고' '냉장고' '선풍기' '선풍기']

### 원-핫 인코딩

In [13]:
from sklearn.preprocessing import OneHotEncoder
import numpy as np

items = ['TV', '냉장고', '전자렌지', '선풍기', '선풍기', '믹서', '믹서']

# 숫자값 변환을 위한 labelEncoder로 변환
encoder = LabelEncoder()
encoder.fit(items)
labels = encoder.transform(items)

# 2차원 데이터로 변환
labels = labels.reshape(-1,1)

# 원 핫 인코딩 적용
oh_encoder = OneHotEncoder()
oh_encoder.fit(labels)
oh_labels = oh_encoder.transform(labels)

print('원-핫 인코딩 데이터')
print(oh_labels.toarray())
print('원-핫 인코딩 데이터 차원')
print(oh_labels.shape)

원-핫 인코딩 데이터
[[1. 0. 0. 0. 0.]
 [0. 1. 0. 0. 0.]
 [0. 0. 0. 0. 1.]
 [0. 0. 0. 1. 0.]
 [0. 0. 0. 1. 0.]
 [0. 0. 1. 0. 0.]
 [0. 0. 1. 0. 0.]]
원-핫 인코딩 데이터 차원
(7, 5)

#### 사이킷런에서 원샷은 숫자로 labelEncoder와 reshape 해야해서 번잡함 => pandas에서는 간편하게 가능

In [15]:
import pandas as pd

df = pd.DataFrame({'items':['TV', '냉장고', '전자렌지', '선풍기', '선풍기', '믹서', '믹서']})
df

  items
0    TV
1   냉장고
2  전자렌지
3   선풍기
4   선풍기
5    믹서
6    믹서

In [16]:
pd.get_dummies(df)

   items_TV  items_냉장고  items_믹서  items_선풍기  items_전자렌지
0         1          0         0          0           0
1         0          1         0          0           0
2         0          0         0          0           1
3         0          0         0          1           0
4         0          0         0          1           0
5         0          0         1          0           0
6         0          0         1          0           0

## 피처 스케일링
<br>

- 표준화: 데이터의 피처 각각의 평균이 0이고 분산이 1인 가우시안 정규 분포를 가진 값으로 변환
<br>

- 정규화: 서로 다른 피처의 크기를 통일하기 위해 크기를 변환(0~1 사이 값으로 변환)

### 사이킷런 피처 스케일링 지원
<br>

- standardScaler: 평균이 0이고 분산이 1인 정규 분포 형태로 변환
<br>

- MinMaxScaler: 데이터 값을 0 ~ 1 범위 값으로 변환(음수가 있으면 -1~1로 변환)

In [19]:
from sklearn.datasets import load_iris
import pandas as pd

iris = load_iris()
iris_data = iris.data
iris_df = pd.DataFrame(data=iris_data, columns=iris.feature_names)

print('feature 들의 평균: ')
print(iris_df.mean())
print('\nfeature들의 분산: ')
print(iris_df.var())

<class 'numpy.ndarray'>
feature 들의 평균:
sepal length (cm)    5.843333
sepal width (cm)     3.057333
petal length (cm)    3.758000
petal width (cm)     1.199333
dtype: float64

feature들의 분산:
sepal length (cm)    0.685694
sepal width (cm)     0.189979
petal length (cm)    3.116278
petal width (cm)     0.581006
dtype: float64

In [20]:
# standardScaler

from sklearn.preprocessing import StandardScaler

# standardScaler 객체 생성
scaler = StandardScaler()
# standardScaler로 데이터 셋 변환 -> fit() -> transform()
scaler.fit(iris_df)
iris_scaled = scaler.transform(iris_df)

# transfrom하면 ndarray로 반환 => DataFrame으로 변환 필요
iris_df_scaled = pd.DataFrame(data=iris_scaled, columns=iris.feature_names)
print('feature 평균')
print(iris_df_scaled.mean())
print('\nfeature 분산')
print(iris_df_scaled.var())

feature 평균
sepal length (cm)   -1.690315e-15
sepal width (cm)    -1.842970e-15
petal length (cm)   -1.698641e-15
petal width (cm)    -1.409243e-15
dtype: float64

feature 분산
sepal length (cm)    1.006711
sepal width (cm)     1.006711
petal length (cm)    1.006711
petal width (cm)     1.006711
dtype: float64

In [21]:
# MinMaxScaler

from sklearn.preprocessing import MinMaxScaler

# MinMaxScaler 객체 생성
scaler = MinMaxScaler()
# MinMaxScaler로 데이터 셋 변호나 -> fit() -> transform()
scaler.fit(iris_df)
iris_scaled = scaler.transform(iris_df)

# transform()시 ndarray로 반환 => DataFrame으로 벼환 필요
iris_df_scaled = pd.DataFrame(data=iris_scaled, columns=iris.feature_names)
print('feature 최소값')
print(iris_df_scaled.min())
print('feature 최대값')
print(iris_df_scaled.max())

feature 최소값
sepal length (cm)    0.0
sepal width (cm)     0.0
petal length (cm)    0.0
petal width (cm)     0.0
dtype: float64
feature 최대값
sepal length (cm)    1.0
sepal width (cm)     1.0
petal length (cm)    1.0
petal width (cm)     1.0
dtype: float64